.feature-box{

    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    cursor: pointer;
    transition: transform .3s ease-out;

    @include respond(tab-port){
      padding: 2rem;
      margin: 2rem;
      
    }

    &__text{

      @include respond(phone){
        font-size: 3rem !important;
        padding: 3rem;

      }
    }

    .material-symbols-outlined {
        font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 0,
          'opsz' 56;
          font-size: 7rem;
          margin-bottom: 1.8rem;
          @include colorfulFontsPics();

          @include respond(tab-port){
            margin-bottom: 2rem !important;
          }
        
      }
      &:hover{
        transform: translateY(-1.5rem) scale(1.03);
      }


}