

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}


// *+*{
//     margin-bottom: 2rem;
// }
html{
    font-size: 62.5%; //10px

    @include respond(tab-land){ //width <1200?
        
        font-size: 56.25%;   
    }
    @include respond(tab-port){ //width <900?
        
        font-size: 50%; //1rem = 8px, 8/16 = 50% 
    
    }

    @include respond(phone){ //width <600?
        
        font-size: 30%; //1rem = 4.8px, 4/16 = 30% 
    
    }

    @include respond(big-desktop){
        
        font-size: 62.5%;
    }
}


body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port){ //width <900?
        
        padding: 0;
    
    }


}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 56;
    font-size: 6rem;
    margin-bottom: .5rem;
    @include colorfulFontsPics();
}

